node_modules
.pnpm-store
**/node_modules
**/.pnpm-store
.git
.vscode
.idea
.dist
dist
**/.dist
**/dist
build
.next
out
coverage
*.log
.cache
.turbo
**/build
**/.next
**/out
**/coverage
**/.cache
**/.turbo
.env
.env.*
infra
infra_
docker-compose*.yml
*.md
npm-debug.log
.DS_Store
